# Gemini API Configuration
# Get your API key(s) from https://aistudio.google.com/app/apikey (Separate multiple keys with commas)
GEMINI_API_KEY=AIzaSyD4DAOMvCfDytyo4H92aerKixW-n6K_EpU,AIzaSyBzcOBeOUAVwuLJ7CyT52PAnqVgTZEXPW8 , AIzaSyAGaBM5RFofHGPEANuKJkDmlckLXyaSDNc
